h3{
    text-align: center;
    font-family: sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav-pills .nav-item .nav-link {
    color: #007bff;
}

.nav-pills .nav-item .nav-link:hover,
.nav-pills .nav-item .nav-link:focus {
    background-color: #007bff;
    color: #fff;
}
.category{
    font-size: 200%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  
  .grid-item {
    position: relative;
    overflow: hidden;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
  }
  
  .grid-item:hover img {
    transform: scale(1.1);
  }


  .googlemap{
    overflow: hidden;
    padding-top: 250px;
    position: relative;
    height: 0;
  }
  .googlemap iframe{
    padding-top: 50px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
  }

  